*
ignore.*
.DS_Store

!.gitignore
!README.md
!LICENSE
!*.m
!*.mex*
!*.cpp
!*.c
!*.h
!doc/teaser.png
!data/tosca/centaur.mat
!data/faust/0.mat
!data/tosca/off_orig/*.off
!data/faust/ply_orig/*.ply
!eval/*.mat
!code
!data/*/sym/**

!*/
